.button {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 12px;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  cursor: pointer;
  width: fit-content;
}
