.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  color: var(--color-text-secondary);
  margin-left: 12px;
  width: 100%;
}

.input {
  background-color: var(--color-secondary);
  color: var(--text-color);
  width: 100%;
  padding: 1rem 2.5rem 1rem 1rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: #7b5cff;
}

.eyeButton {
  position: absolute;
  right: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeButton:hover {
  opacity: 0.5;
}
