.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  color: var(--color-text-secondary);
  margin-left: 12px;
  width: 100%;
}

.inputWrapper {
  position: relative;
}

.input {
  background-color: var(--color-secondary);
  box-sizing: border-box;
  color: var(--text-color);
  padding: 1rem 2.5rem 1rem 1rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
  width: 100%;
}

.input:focus {
  border-color: #7b5cff;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--color-secondary);
  border: 2px solid #7b5cff;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 0 0 6px 6px;
  z-index: 10;
  list-style-type: none;
  padding-left: 1rem;
  margin: 0;
}

.suggestionItem {
  padding: 0.5rem 0;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.activeSuggestion {
  background-color: #e0e0ff;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
