body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Modo claro */
:root {
  --color-primary: #320a6b; /* Púrpura oscuro */
  --color-secondary: #dad2ff; /* Púrpura claro */
  --color-background: #ffffff; /* Fondo */
  --color-text: #1a1a1a; /* Texto primario */
  --color-text-secondary: #555555; /* Texto secundario*/
}

/* Modo oscuro */
body.dark {
  --color-primary: #dad2ff;
  --color-secondary: #320a6b;
  --color-background: #1a1a1a;
  --color-text: #ffffff;
  --color-text-secondary: #cccccc;
}
